/*************************
Start: New Arrivals
*************************/

.new-arrivals #arrival {
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
}

.product-disp {
    padding: 2%;
}

.product-image-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto 9%;
}

.product-image-slider>#prevSlider-btn,
#nextSlider-btn {
    width: 50px;
    cursor: pointer;
}

#products {
    display: flex;
    text-align: center;
}

#products img {
    width: 90%;
}

#nest {
    height: 650px;
    width: 100%;
    background-color: rgb(218, 208, 220);
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
}

#b1 {
    width: 75%;
    height: 450px;
    margin-left: 135px;
    display: flex;
}

#nest>div>div {
    margin-left: 30px;
    width: 45%;
    background-color: white;
}

#nest>div>div>img {
    height: 100%;
    width: 100%;
}

#b12>img {
    height: 50%;
    width: 50%;
}

#serum {
    width: 100%;
    height: 700px;
    display: flex;
}

#serum>div {
    height: 600px;
    width: 45%;
    margin: auto;
    font-size: 30px;
}

#serum>div>img {
    width: 100%;
}

.description-container {
    display: flex;
    align-items: center;
    color: #12284C;
    font-size: 20px;
}

.description-container>* {
    flex-basis: 100%;
    margin: 10px;
    padding: 50px;
}

.text-center {
    text-align: center;
}

.extra-img {
    width: 70%;
    margin: auto 100px;
}

.pr {
    font-size: 16px;
}

.browse-now {
    text-decoration: underline;
    padding:0px 0px 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

}

.specials>div>img {
    width: 400px;
    height: 350px;
}

.specials {
    height: 600px;
    color: #12284C;

}

.hd {
    font-size: 14px;
}

.specials {
    display: flex;
    text-align: center;
    gap: 23px;
}
body{
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
/****************************
End: New Arrivals
****************************/

/****************************
Start: MEDIA QUERIES
****************************/

@media screen and (max-width: 700px) {
    .specials {
        flex-direction: column;

    }

    .description-container {
        flex-direction: column;
        text-align: center;
    }
}

/****************************
End: MEDIA QUERIES
****************************/